<div id="Navigation">
    <div id="SubMenu">
        <div class="MenuLines"></div>
        <div class="MenuLines"></div>
        <div class="MenuLines"></div>
    </div>
    <div id="SubjectTitle">
        <%= Subject.toUpperCase() %>
    </div>
    <div id="Flashcard" onclick="cardsRedirect()">
        <div class="CardBox" id="card1"></div>
        <div class="CardBox" id="card2"></div>
        <div class="CardBox" id="card3"></div>
    </div>
</div>